@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600|Source+Code+Pro:300,600);
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  font-weight: 300;
}
.ruban {
  height: 100%;
}
.center {
  text-align: center;
}
section {
  display: table;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #EEE;
  color: #434343;
}
section > *:only-child {
  display: table-cell;
  vertical-align: middle;
}
section h1 {
  font-weight: 300;
  margin-top: 0;
}
section h1:only-child {
  text-align: center;
}
section details {
  display: none;
}
.pagination {
  position: fixed;
  right: 1em;
  bottom: 0.6em;
  font-size: 60%;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul ul {
  padding-left: 1em;
}
dl dd {
  padding-bottom: 0.2em;
}
pre {
  margin-top: 0;
}
pre:last-child {
  margin-bottom: 0;
}
code {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 50%;
}
code strong {
  background: #ddd;
  font-weight: 600;
}
