html, body {
  height: 100%;
  overflow: hidden;
  font-size: 100%;
}

.presentation {
  height: 100%;
}

section {
  display: table;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%;

  > *:only-child {
    display: table-cell;
    vertical-align: middle;
  }

  h1 {
    margin-top: 0;

    &:only-child {
      text-align: center;
    }
  }
}

code {
  font-size: 50%;
}


section {
  background: #EEE;
  color: #434343;
}

.backbone {
  background: #0071B5;
  color: #FFF;
}

.ember {
  background: #F23818;
  color: #F6ECE8;
}

.angular {
  background: #DD1B16;
  color: #F2F2F2;
}

img {
  background: #FFF;
  padding: 0.4em;
}

ul {
  list-style: none;
}
