@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic|Source+Code+Pro:300,600);

html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  font-weight: 300;
}

.presentation {
  height: 100%;
}

section {
  display: table;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%;

  > *:only-child {
    display: table-cell;
    vertical-align: middle;
  }

  h1 {
    margin-top: 0;

    &:only-child {
      text-align: center;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 50%;
}


section {
  background: #EEE;
  color: #434343;
}

h1 {
  font-weight: 300;
}

.backbone {
  background: #0071B5;
  color: #FFF;
}

.ember {
  background: #F23818;
  color: #F6ECE8;
}

.angular {
  background: #DD1B16;
  color: #F2F2F2;
}

img {
  background: #FFF;
  padding: 0.4em;
}

ul {
  list-style: none;
}
